# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
Debug/
Release/

# =========================
# Rider / VSCode (если вдруг)
# =========================
.idea/
.vscode/

# =========================
# NuGet
# =========================
packages/
*.nupkg
project.assets.json
project.nuget.cache

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Publish folder
# =========================
publish/

# =========================
# SQLite (если вдруг добавишь локальную БД)
# =========================
*.db
*.sqlite
